@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@700&family=Roboto:wght@300;400&display=swap');

:root {
    --red: #FF0018;
    --orange: #FFA52C;
    --yellow: #FFFF41;
    --green: #008018;
    --blue: #0000F9;
    --violet: #86007D;

    --header-font: 'Oxygen', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --alt-font: 'Oxygen Mono', monospace;
    
    font-size: 20px;
    color: inherit;
    font: 1rem var(--body-font);
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

header.site-header {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 15%;
    color: var(--red);
}

header.site-header > p {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 1.5rem 0;
}

p {
    margin: 1rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
}

#blood {
    width: 1rem;
    height: 5rem;
    background: var(--red);
}

h1 {
    font: 3rem var(--header-font);
    text-transform: uppercase;
}

img {
    max-width: 100%;
    border-radius: 0.2rem;
}

figcaption {
    text-align: center;
}

h2 {
    font: 2rem var(--header-font);
}

h3 {
    font: 1.5rem var(--header-font);
}

section {
    min-height: 100vh;
    padding: 5%;
}

.section-1 { color: var(--orange) }
.section-2 { background: var(--yellow) }
.section-3 { color: var(--green) }
.section-4 { color: var(--blue) }
.section-5 { color: var(--violet) }

.section-title { text-transform: uppercase }
.subtitle {
    text-align: center;
    margin: 0;
    font-weight: 300;
}

a {
    color: inherit;
}

.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

section .section-title {
    text-align: center;
}

.section-1 .section-title {
    text-align: left;
}

details {
    margin: 1.5rem 10% 2rem 10%;
    font: 1.2rem var(--alt-font);
}

summary {
    font: 1.5rem var(--body-font);
}

strong {
    font-weight: 700;
}

.fig {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    border: 0.25rem solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 2rem var(--alt-font);
    color: #222;
}

.section-2 > ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 2rem;
}

.fact {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-gap: 0.75rem;
    align-items: center;
}

.fact > p {
    margin: 0;
}

.fact-source {
    font-family: var(--header-font);
}

.argument, .action {
    background: #fff;
    border-radius: 0.15rem;
    padding: 1rem 2rem;
    border-width: 0.2rem;
    border-style: solid;
}

.arguments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1.5rem;
}

.action {
    width: 80%;
    margin: 2rem auto;
}

.additional-readings {
    list-style: decimal;
    font: 1.2rem var(--alt-font);
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.additional-readings > li {
    margin: 0.5rem 0;
}

@media screen and (max-width: 800px) {
    .section-1 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 700px) {
    .section-2 > ol {
        grid-template-columns: 1fr;
    }

    .arguments {
        grid-template-columns: 1fr;
    }
}
